<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Model1/src-gen/it/unibo/ctxSonarPartenzaMock/MainCtxSonarPartenzaMock.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.unibo.ctxSonarPartenzaMock.MainCtxSonarPartenzaMock"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Model1"/>
</launchConfiguration>
